<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Workout</title>
    <link rel="stylesheet" href="/styles/edit.css" />
  </head>
  <body class="edit-workout-page">
    <%- include('../partials/_navbar.ejs') %>
    <main class="edit-workout-container">
      <section class="text-section">
        <h1>Edit <%= workout.workoutType %> Workout Form</h1>
       <form action="/users/<%=user._id%>/workouts/<%= workout._id %>?_method=PUT" method= "POST"?>
          <div>
            <label for="workoutType">Workout Type</label>
            <select name="workoutType" id="workoutType" required> 
              <option value="">Select a workout Type</option> 
              <option <%= workout.workoutType === 'Running' ? 'selected': '' %> value="Running">Running </option>
              <option <%= workout.workoutType === 'Weightlifting' ? 'selected': '' %> value="Weightlifting">Weightlifting </option>
              <option <%= workout.workoutType === 'Cycling' ? 'selected': '' %> value="Cycling">Cycling</option>
            </select>
          </div>
    

          <div>
            <label for="workoutDescription">Description</label>
            <textarea name="workoutDescription" id="workoutDescription"required ><%= workout.workoutDescription%></textarea>
          </div>

          <div>
            <label for="workoutDuration">Duration (minutes)</label>
            <select name="workoutDuration" id="workoutDuration" required>
              <option value="">Select duration</option>
              <option <%= workout.workoutDuration === 5 ? 'selected': '' %> value='5'>5 minutes</option>
              <option <%= workout.workoutDuration === 10 ? 'selected': '' %> value='10'>10 minutes</option>
              <option <%= workout.workoutDuration === 15 ? 'selected': '' %> value='15'>15 minutes</option>
              <option <%= workout.workoutDuration === 20 ? 'selected': '' %> value='20'>20 minutes</option>
              <option <%= workout.workoutDuration === 25 ? 'selected': '' %> value='25'>25 minutes</option>
              <option <%= workout.workoutDuration === 30 ? 'selected': '' %> value='30'>30 minutes</option>
              <option <%= workout.workoutDuration === 35 ? 'selected': '' %> value='35'>35 minutes</option>
              <option <%= workout.workoutDuration === 40 ? 'selected': '' %> value='40'>40 minutes</option>
              <option <%= workout.workoutDuration === 45 ? 'selected': '' %> value='45'>45 minutes</option>
              <option <%= workout.workoutDuration === 50 ? 'selected': '' %> value='50'>50 minutes</option>
              <option <%= workout.workoutDuration === 55 ? 'selected': '' %> value='55'>55 minutes</option>
              <option <%= workout.workoutDuration === 60 ? 'selected': '' %> value='60'>60 minutes</option>
            </select>
          </div>

          <div>
            <label for="postingLink">Link to workout video:</label>
            <input type="text" name="postingLink" id="postingLink" value="<%= workout.postingLink %>" required />
          </div>

          <div>
            <label for="workoutDate">Workout Date</label>
            <input type="datetime-local" id="workoutDate" name="workoutDate"<%= workout.workoutDate %> />
          </div>

          <button class ="edit=button">Edit Workout</button>
        </form>
      </section>
      <section class="image-section">
        <img src="https://www.pngkey.com/png/full/256-2561718_want-to-learn-how-to-2x-your-muscle.png" alt="Workout Logger App Logo">
      </section>
    </main>
  </body>
</html>