<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Workouts</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %> 
    <h1>User Workouts</h1>
    <a href="/users/<%=user._id%>/workouts/new">Add a Workout</a>
    <ul>
        <% workouts.forEach(workout => { %>
            <li>
                <a href="/users/<%= user._id %>/workouts/<%=workout._id %>"> 
                <h2><%= workout.workoutType %></h2>
                <p><%= workout.workoutDescription %></p>
                <p><%= workout.workoutDuration %> minutes</p>
                <p><%= workout.workoutDate %></p>
                <p><a href="<%= workout.postingLink %>">Link to video</a></p>
                </a>
            </li>
        <% }) %>
    </ul>
</body>
</html>
