<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Workouts</title>
    <link rel="stylesheet" href="/styles/index.css">
</head>
<body class="index-page">
    <%- include('../partials/_navbar.ejs') %> 
    <main class="index-container">
        <section class="text-section">
            <h1 class="page-title">Your Workouts</h1>
            <a href="/users/<%= user._id %>/workouts/new" class="add-workout-btn">Add a Workout</a>
            <ul class="workouts-list">
                <% workouts.forEach(workout => { %>
                    <li class="workout-item">
                        <a href="/users/<%= user._id %>/workouts/<%= workout._id %>">
                            <h2><%= workout.workoutType %></h2>
                            <p><%= workout.workoutDescription %></p>
                            <p><%= workout.workoutDuration %> minutes</p>
                            <p><%= workout.workoutDate %></p>
                            <p><a href="<%= workout.postingLink %>">Link to video</a></p>
                        </a>
                    </li>
                <% }) %>
            </ul>
        </section>
        <section class="image-section">
            <img src="https://classpass-res.cloudinary.com/image/upload/f_auto/q_auto/oapdrkyyt1tnp9xabjmo.jpg" alt="Cycling Image">
        </section>
    </main>
</body>
</html>